@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto+Condensed:wght@100&display=swap');

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}



:root {
  --primary-white: white;
  --primary-feldfrau: #757787;
  --primary-camblue: #001284;
}

body {
  
  font-family: "Roboto Condesed" 'Times New Roman', Times, serif;
}


/* navbar */
.propic {
   width: 16.25rem; 
  }

  /* menu link */

  .nav-item {
    text-transform: uppercase;
    max-width: 17.25rem;
    padding: 0 !important;
    height: 3rem !important;float: right;
    
  }

  ul.nav.nav-tabs {
    
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    background-color: #fff
  }

 


  /* header */
.header {
  position: relative;
  background: url(mt.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh
}

#about {
  position: relative;
  background: url(travel.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh
}

#Reslink{

    position: relative;
    background: url(climb.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height:auto
  }

  #projects{

    position: relative;
    background: url(outdoor.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height:auto
  }

.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  align-items: center; 
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  text-align: center;
  color:#fcfcfc;
  font-family: "Roboto Condesed" 'Times New Roman', Times, serif;
}

/* resume section */
.proficiencies {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
}

/* About section */
.mountain {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
 
} 


/* project section */
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  text-align: center;
}



/* contact section */
#contact{
  background-color: #6a3636;
  padding: 40px;
  
}
label {
  color: white;
}
 h6 {
  color: white;
 }

 /* footer section */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.page-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem
}

#projects {
  background-color: #3e3f45;
}
